.about_image_container {
    background-image: url('../Assets/homepage/mt-1979-content-bg04.jpg');
    background-size: cover;
}

.about_image_element {
padding-top: 2.5rem;
padding-left: 1rem;
width: 90%;
padding-right: 1rem;
}

.about_content_cover {
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.about_heading_container {
    padding: 1.5rem 0;    
}

.about_heading_container h2 {
    color: var(--main-text-title);
    font-weight: 100;
    margin: 0;
}

.about_heading_container h1 {
    font-weight: 450;
    color: var(--main-text-subtitle);
    font-size: 2rem;
    margin: 0;
}

.about_content_container h3{
    color: var(--main-highlighter);
    margin: 0;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 1.7rem;
    padding-bottom: 1.5rem;
}

.about_content_container .about_paragraph_one {
    color: var(--about-text-title);
    margin: 0;
}

.about_paragraph_two {
    padding-top: 1rem;
    color: var(--main-text-title);
}

@media only screen and (min-width: 479px) {
    .about_image_element {
        padding-top: 2.5rem;
        padding-left: 1rem;
        width: 90%;
        max-width: 30rem;
        padding-right: 1rem;
        }
}

@media only screen and (min-width: 768px) {
    .about_contents {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .about_image_container {
        width: 50%;
    }

    .about_content_cover {
        width: 50%;
    }

    .about_content_container {
        padding-left: 4rem;
    }
}

@media only screen and (min-width: 1039px) {

    .about_contents {
        height: 100vh;
    }

    .about_heading_container h2 {
        font-weight: 300;
        font-style: normal;
        line-height: 0.8;
        letter-spacing: 0;
        font-size: 24px;
        padding-bottom: 1rem;
    }

    .about_heading_container h1 {
        font-weight: 400;
        font-style: normal;
        line-height: 0.9;
        letter-spacing: 0;
        font-size: 48px;
    }
    .about_image_container {
        background-image: none;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    
    .about_content_container h3 {
        font-weight: 400;
        line-height: 1;
        font-size: 30px;
    }

    .about_paragraph_one {
        max-width: 24rem;
    }

    .about_content_container {
        padding-left: 6rem;
        padding-top: 1rem;
    }

    .about_content_container p {
        font-weight: 300;
        font-style: normal;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0px;
    }
}