.stats_container {
    background-image: url(../Assets/homepage/mt-1979-content-bg02.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.stats_cover {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    color: var(--main-white);
}

.stats_cover div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 1rem;
}

.number {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0;
    margin: 0;
    font-style: normal;
}

.text {
    margin: 0;
}

@media only screen and (min-width: 769px) {
    .stats_cover {
        max-width: 50%;
        margin-right: 1rem;
    }

    .number {
        font-size: 3.5rem;
    }

    .text {
        font-size: 1.2rem;
        max-width: 18rem;
    }
}